body {
  background-color: aquamarine;
}

h1 {
  font-family: "trebuchaet HS", "Lucida Sans Unicode", "Lucida Grade",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-decoration-line: underline;
  text-shadow: 0.2em 0.2em#ff2929, -0.3em -0.3em #29a514;
  border: #ffffff;
  border-width: 2px;
}

p {
  background-color: cadetblue;
  color: #ff2929;
}

button {
  text-shadow: none;
}

button {
  font-family: cursive;
  width: 50%;
  height: 200px;
  font-size: large;
  border-radius: 100px;
  border-width: 20px;
  border-color: #ff2929;
}
